*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}
body{
    background-color: white;
    

}
 svg path:nth-child(1) 
{ 
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100; 
    animation: a 5s linear forwards;
    
}
svg path:nth-child(2)
{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: a 5s linear forwards;
}
svg path:nth-child(3)
{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: a 5s linear forwards;
}
svg path:nth-child(4)
{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: a 5s linear forwards;
}
svg path:nth-child(5)
{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: a 5s linear forwards;
}
svg path:nth-child(6)
{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: a 5s linear forwards;
}
svg path:nth-child(7)
{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: a 5s linear forwards;
}
@keyframes a{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 0;
    }

}



